/* bebas-neue - latin */
@font-face {
    font-display: swap;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v14-latin-regular.woff2') format('woff2');
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
}


/*-------------------- 
  custom properties 
--------------------*/
:root {
    --primary-color: #FA804C;
    --secondary-color: #363958;

    --ff-bebas: 'Bebas Neue', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;

    --section-title-fns: 48px;
    --item-price-fns: 36px;
    --text-fns: 16px;

    --fw-m: 500;
    --fw-b: 800;
    --fw-xb: 900;

    --trans-color: color .4s;
}


/*-------------------- 
  preset properties 
--------------------*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #3E3E3E;
    background: none repeat scroll 0 0;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

p {
    font-family: var(--ff-roboto);
    font-size: var(--text-fns);
    color: #3E3E3E;
}


/*==================================================
                header start
==================================================*/
.header-bg {
    background-image: url(../../assets/images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

/*----------------- nav-bar -----------------*/

/* logo */

/* menu */

/*----------------- hero-section -----------------*/
.hero-section {
    gap: 10em;
}
@media only screen and (max-width: 767px) {
    .hero-section {
        gap: 5em;
    }
}

.hero-content {
    flex: 0 0 45%;
}

.hero-content h2 {
    font-family: var(--ff-bebas);
    font-size: 80px;
    font-weight: var(--fw-m);
}

.hero-content h2 .heading-1 {
    color: var(--primary-color);
}

.hero-content h2 .heading-2 {
    color: var(--secondary-color);
}

.nike-btn {
    font-family: var(--ff-roboto);
    text-transform: uppercase;
    color: #ffffff;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(61, 79, 243, 1) 0%, rgba(53, 67, 188, 1) 100%);
    padding: 12px 35px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: var(--trans-color);
}

.nike-btn:hover {
    color: var(--primary-color);
}

/*==================================================
                header end
==================================================*/

/*==================================================
               shoes start
==================================================*/
.casual-shoes,
.formal-shoes,
.features-wrap {
    margin-top: 100px;
    margin-bottom: 140px;
}

/*----------------- section heading -----------------*/
.casual-shoes h4,
.formal-shoes h4 {
    font-family: var(--ff-bebas);
    font-size: var(--section-title-fns);
    color: var(--secondary-color);
}

/*----------------- item contents -----------------*/
.casual-shoes .card-img {
    background-color: #F1F1F1;
}

.card-title {
    color: var(--secondary-color);
}

.price-btn span {
    font-size: var(--item-price-fns);
    color: var(--primary-color);
    font-weight: var(--fw-xb);
}

/*==================================================
               shoes end
==================================================*/

/*==================================================
               features start
==================================================*/
.features {
    gap: 7em;
}

.feature {
    padding-right: 70px;
}

.feature img {
    width: 80px;
}

.feature-items {
    flex: 0 0 40%;
}

.feature-image,
.hero-image {
    flex: 1;
}

.feature-content p {
    margin: 0;
}

/*==================================================
               features end
==================================================*/